@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: pointer;
  font-family: "Righteous", cursive;
  animation: backgroundChange 10s infinite;
  transition: all 1s ease;
}

.bg-body {
  background: url("/her-bd/media/image.png");
  animation: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.confetti {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  user-select: none;
}
::-webkit-scrollbar {
  width: 20px;
}

#permission {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 10rem;
  padding: 0 10px;
}

.card {
  background-color: white;
  padding: 10px 30px;
  width: 700px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 2px 4px 11px rgb(0 0 0 / 28%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#permission .card button {
  background-color: rebeccapurple;
  color: white;
  padding: 15px 25px;
  min-width: 120px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 4px 11px rgb(0 0 0 / 28%);
  cursor: pointer;
}

.name {
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
  color: white;
  font-size: 93px;
  letter-spacing: 10px;
  text-shadow: 2px 4px 11px rgb(0 0 0 / 28%);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  animation: glow 2s infinite;
}

.stylish {
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  color: rebeccapurple;
  font-size: 23px;
  letter-spacing: 4px;
  text-shadow: 2px 4px 11px rgb(0 0 0 / 28%);
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: white;
}

.message-section {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: opacity 2s ease, height 2s ease;
}

.message-section.show {
  height: 100vh;
}

@keyframes backgroundChange {
  0% {
    background-color: #ff9a9e;
  }
  25% {
    background-color: #fad0c4;
  }
  50% {
    background-color: #fad0c4;
  }
  75% {
    background-color: #ff9a9e;
  }
  100% {
    background-color: #ff9a9e;
  }
}

/* Animations */
@keyframes glow {
  0% {
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
  }
  50% {
    text-shadow: 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
  }
  100% {
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
  }
}

@media only screen and (max-width: 600px) {
  .bg-body {
    background: url("/her-bd/media/mobile-bg.png");
    background-size: contain;
  }
  .name {
    font-size: 40px;
  }
}
